body
  .editor
    .CodeMirror .CodeMirror-code
      .cm-header-1
        font-size: 120%;

      .cm-formatting.cm-formatting-header.cm-formatting-header-2.cm-header.cm-header-2
        font-size: inherit;
        font-weight: inherit;
